<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
  <info>
    <name>Test</name>
    <description>Description</description>
    <server>ServerIP</server>
  </info>
  <values>
    <value>set Killaura true</value>
    <value>set Scaffold false</value>
    <value>set Chestealer true</value>
  </values>
</config>
